html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    /*
   * CSS image reference example.
   */
    background-image: url('./images/bg-pattern.png');
}

.found-country {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

.country-name {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 20px;
}

.country-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.country-info>li {
    list-style: none;
}

.info-positions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: flex-start;
}

.info-item {
    display: flex;
    align-items: center;
}

.item-name {
    display: inline-block;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

.item-value {
    display: inline-block;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    margin-left: 10px;
}

.list-group {
    display: flex;
    flex-direction: column;
}

.list-item {
    list-style: none;
}

.country-flag {
    display: inline-block;
    margin: 0;
    width: 35%;
    height: 35%;
}